In [ ]:
### 505 course - practical version

In [106]:
# Q1. calculate number of characters in the string
example_string = "Amy is 5 years old"
len(example_string.split(" "))

5

In [107]:
# Q2. create user defined function to calculate number of words in the string
## input: string
## output: number of words in the string
def string_to_number(x):
    return len(x.split(" "))

In [108]:
string_to_number("My cat is Limo")

4

In [6]:
# From JSON -> Dictionary -> Pandas

In [111]:
import json
import requests
import pandas as pd

response = requests.get('https://api.covid19india.org/state_district_wise.json')
#print(response.status_code)
json_file = response.json()

In [115]:
json_file.keys()

dict_keys(['State Unassigned', 'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Dadra and Nagar Haveli and Daman and Diu', 'Goa', 'Gujarat', 'Himachal Pradesh', 'Haryana', 'Jharkhand', 'Jammu and Kashmir', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Maharashtra', 'Meghalaya', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Puducherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'])

In [118]:
json_file['Punjab']['districtData'].keys()

dict_keys(['Amritsar', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib', 'Fazilka', 'Ferozepur', 'Gurdaspur', 'Hoshiarpur', 'Jalandhar', 'Kapurthala', 'Ludhiana', 'Mansa', 'Moga', 'Pathankot', 'Patiala', 'Rupnagar', 'S.A.S. Nagar', 'Sangrur', 'Shahid Bhagat Singh Nagar', 'Sri Muktsar Sahib', 'Tarn Taran'])

In [122]:
## new Q1, how many districts are in 'Goa'?
print(len(json_file['Goa']['districtData'].keys()))

4

In [137]:
### Q2, how many districts are there for each state? HINT: print like "Goa:4", use for loop
dds={}
for i in json_file:
    dds[i]=len(json_file[i]['districtData'].keys())
#    print(dds)
dds

{'State Unassigned': 1,
 'Andaman and Nicobar Islands': 4,
 'Andhra Pradesh': 15,
 'Arunachal Pradesh': 25,
 'Assam': 36,
 'Bihar': 38,
 'Chandigarh': 1,
 'Chhattisgarh': 29,
 'Delhi': 12,
 'Dadra and Nagar Haveli and Daman and Diu': 4,
 'Goa': 4,
 'Gujarat': 34,
 'Himachal Pradesh': 12,
 'Haryana': 24,
 'Jharkhand': 24,
 'Jammu and Kashmir': 22,
 'Karnataka': 31,
 'Kerala': 15,
 'Ladakh': 2,
 'Lakshadweep': 2,
 'Maharashtra': 37,
 'Meghalaya': 11,
 'Manipur': 18,
 'Madhya Pradesh': 54,
 'Mizoram': 11,
 'Nagaland': 12,
 'Odisha': 32,
 'Punjab': 22,
 'Puducherry': 4,
 'Rajasthan': 37,
 'Sikkim': 5,
 'Telangana': 36,
 'Tamil Nadu': 41,
 'Tripura': 8,
 'Uttar Pradesh': 75,
 'Uttarakhand': 13,
 'West Bengal': 24}

In [141]:
#pd.DataFrame(dds,[0]).T

In [136]:
#dds

In [147]:
### Q3. convert above output as pandas data frame - HINT: column_name = "State", "cnt_district"
######################################################################## "goa", 4
### {"state":[],cnt:[]}
red = {'state': [], 'cnt_district': []}
for i in json_file:
    red['state'].append(i)
    red['cnt_district'].append(len(json_file[i]['districtData'].keys()))

df_test = pd.DataFrame(red)

In [149]:
## Q4. save it to_csv file called "state_summary" with index = False
df_test.to_csv('state_summary.csv', index = False)

In [196]:
## Q5. read csv called 'state_summary.csv' and save this as df
df = pd.read_csv('state_summary.csv')
df

                                       state  cnt_district
0                           State Unassigned             1
1                Andaman and Nicobar Islands             4
2                             Andhra Pradesh            15
3                          Arunachal Pradesh            25
4                                      Assam            36
5                                      Bihar            38
6                                 Chandigarh             1
7                               Chhattisgarh            29
8                                      Delhi            12
9   Dadra and Nagar Haveli and Daman and Diu             4
10                                       Goa             4
11                                   Gujarat            34
12                          Himachal Pradesh            12
13                                   Haryana            24
14                                 Jharkhand            24
15                         Jammu and Kashmir            22
16                                 Karnataka            31
17                                    Kerala            15
18                                    Ladakh             2
19                               Lakshadweep             2
20                               Maharashtra            37
21                                 Meghalaya            11
22                                   Manipur            18
23                            Madhya Pradesh            54
24                                   Mizoram            11
25                                  Nagaland            12
26                                    Odisha            32
27                                    Punjab            22
28                                Puducherry             4
29                                 Rajasthan            37
30                                    Sikkim             5
31                                 Telangana            36
32                                Tamil Nadu            41
33                                   Tripura             8
34                             Uttar Pradesh            75
35                               Uttarakhand            13
36                               West Bengal            24

In [157]:
## Q6. from df above, which state has most number of districts? Using the name of state as key, 
# print information of districts in that particular state in json_file
#json_file['Uttar Pradesh']['districtData']

In [202]:
## Q7. convert above output as dataframe Hint: columns - district_name, district_data

columns = {'district_name': [], 'district_data': []}
for i in json_file['Uttar Pradesh']['districtData']:
    columns['district_name'].append(i)
    columns['district_data'].append(json_file['Uttar Pradesh']['districtData'][i])

df_test = pd.DataFrame(columns)

In [214]:
json_file.keys()

dict_keys(['State Unassigned', 'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Dadra and Nagar Haveli and Daman and Diu', 'Goa', 'Gujarat', 'Himachal Pradesh', 'Haryana', 'Jharkhand', 'Jammu and Kashmir', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Maharashtra', 'Meghalaya', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Puducherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'])

In [235]:
json_file['Andaman and Nicobar Islands']['districtData'].values()

dict_values([{'notes': 'District-wise numbers are out-dated as cumulative counts for each district are not reported in bulletin', 'active': 0, 'confirmed': 0, 'migratedother': 0, 'deceased': 0, 'recovered': 0, 'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 0}}, {'notes': 'District-wise numbers are out-dated as cumulative counts for each district are not reported in bulletin', 'active': 0, 'confirmed': 1, 'migratedother': 0, 'deceased': 0, 'recovered': 1, 'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 0}}, {'notes': 'District-wise numbers are out-dated as cumulative counts for each district are not reported in bulletin', 'active': 19, 'confirmed': 51, 'migratedother': 0, 'deceased': 0, 'recovered': 32, 'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 0}}, {'notes': '', 'active': -13, 'confirmed': 7496, 'migratedother': 0, 'deceased': 129, 'recovered': 7380, 'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 0}}])

In [219]:
#columns['district_data'] = json_file['State Unassigned']['districtData'].keys()
#columns['district_data'] = json_file['State Unassigned']['districtData'].values()
#pd.DataFrame(columns)

In [246]:
### BONUS: using for loop in json_file.keys(), 


columns = {'district_name': [], 'district_data': []}
dfs = []
for j in json_file.keys():
    columns['district_name'] = json_file[j]['districtData'].keys()
    columns['district_data'] = json_file[j]['districtData'].values()
    df_test = pd.DataFrame(columns)
    df_test['state_name'] = j
    dfs.append(df_test)

df_all = pd.concat(dfs,axis=0)
df_all.to_csv('all_COVID.csv', index = False)

In [206]:
df_test['district_data'][2]['delta']

{'confirmed': 2, 'deceased': 0, 'recovered': 0}

In [207]:
df_test['active'] = df_test['district_data'].apply(lambda x:x['active'])

In [208]:
### Q8. can you create confirmed, deceased, recovered from the method above?
df_test['confirmed'] = df_test['district_data'].apply(lambda x:x['confirmed'])
df_test['deceased'] = df_test['district_data'].apply(lambda x:x['deceased'])
df_test['recovered'] = df_test['district_data'].apply(lambda x:x['recovered'])

In [209]:
df_test.to_csv('largest_state_summary.csv', index = False)

In [197]:
json_file.keys()

dict_keys(['State Unassigned', 'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Dadra and Nagar Haveli and Daman and Diu', 'Goa', 'Gujarat', 'Himachal Pradesh', 'Haryana', 'Jharkhand', 'Jammu and Kashmir', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Maharashtra', 'Meghalaya', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Puducherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'])

In [200]:
json_file['Goa']['districtData'].keys()

dict_keys(['Other State', 'North Goa', 'South Goa', 'Unknown'])

In [110]:
dict_ap = json_file['Arunachal Pradesh']
dict_ap_district = dict_ap['districtData']
dict_ap_district

{'Anjaw': {'notes': '',
  'active': 48,
  'confirmed': 985,
  'migratedother': 0,
  'deceased': 3,
  'recovered': 934,
  'delta': {'confirmed': 3, 'deceased': 0, 'recovered': 3}},
 'Changlang': {'notes': '',
  'active': 71,
  'confirmed': 3621,
  'migratedother': 0,
  'deceased': 20,
  'recovered': 3530,
  'delta': {'confirmed': 9, 'deceased': 0, 'recovered': 6}},
 'East Kameng': {'notes': '',
  'active': 35,
  'confirmed': 1066,
  'migratedother': 0,
  'deceased': 0,
  'recovered': 1031,
  'delta': {'confirmed': 5, 'deceased': 0, 'recovered': 3}},
 'East Siang': {'notes': '',
  'active': 102,
  'confirmed': 2936,
  'migratedother': 0,
  'deceased': 17,
  'recovered': 2817,
  'delta': {'confirmed': 5, 'deceased': 0, 'recovered': 5}},
 'Kamle': {'notes': '',
  'active': 60,
  'confirmed': 460,
  'migratedother': 0,
  'deceased': 0,
  'recovered': 400,
  'delta': {'confirmed': 2, 'deceased': 0, 'recovered': 8}},
 'Kra Daadi': {'notes': '',
  'active': 7,
  'confirmed': 256,
  'migratedother': 0,
  'deceased': 0,
  'recovered': 249,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 0}},
 'Kurung Kumey': {'notes': '',
  'active': 2,
  'confirmed': 507,
  'migratedother': 0,
  'deceased': 1,
  'recovered': 504,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 5}},
 'Lepa Rada': {'notes': '',
  'active': 41,
  'confirmed': 762,
  'migratedother': 0,
  'deceased': 2,
  'recovered': 719,
  'delta': {'confirmed': 5, 'deceased': 0, 'recovered': 2}},
 'Lohit': {'notes': '',
  'active': 144,
  'confirmed': 2656,
  'migratedother': 0,
  'deceased': 26,
  'recovered': 2486,
  'delta': {'confirmed': 11, 'deceased': 1, 'recovered': 5}},
 'Longding': {'notes': '',
  'active': 14,
  'confirmed': 728,
  'migratedother': 0,
  'deceased': 2,
  'recovered': 712,
  'delta': {'confirmed': 2, 'deceased': 0, 'recovered': 2}},
 'Lower Dibang Valley': {'notes': '',
  'active': 89,
  'confirmed': 2147,
  'migratedother': 0,
  'deceased': 9,
  'recovered': 2049,
  'delta': {'confirmed': 5, 'deceased': 0, 'recovered': 0}},
 'Lower Siang': {'notes': '',
  'active': 50,
  'confirmed': 703,
  'migratedother': 0,
  'deceased': 8,
  'recovered': 645,
  'delta': {'confirmed': 8, 'deceased': 0, 'recovered': 14}},
 'Lower Subansiri': {'notes': '',
  'active': 333,
  'confirmed': 2610,
  'migratedother': 0,
  'deceased': 11,
  'recovered': 2266,
  'delta': {'confirmed': 15, 'deceased': 0, 'recovered': 17}},
 'Namsai': {'notes': '',
  'active': 48,
  'confirmed': 1958,
  'migratedother': 0,
  'deceased': 15,
  'recovered': 1895,
  'delta': {'confirmed': 7, 'deceased': 0, 'recovered': 0}},
 'Pakke Kessang': {'notes': '',
  'active': 9,
  'confirmed': 390,
  'migratedother': 0,
  'deceased': 0,
  'recovered': 381,
  'delta': {'confirmed': 1, 'deceased': 0, 'recovered': 0}},
 'Papum Pare': {'notes': '',
  'active': 844,
  'confirmed': 17113,
  'migratedother': 0,
  'deceased': 87,
  'recovered': 16182,
  'delta': {'confirmed': 65, 'deceased': 1, 'recovered': 112}},
 'Shi Yomi': {'notes': '',
  'active': 25,
  'confirmed': 221,
  'migratedother': 0,
  'deceased': 0,
  'recovered': 196,
  'delta': {'confirmed': 2, 'deceased': 0, 'recovered': 0}},
 'Siang': {'notes': '',
  'active': 27,
  'confirmed': 393,
  'migratedother': 0,
  'deceased': 3,
  'recovered': 363,
  'delta': {'confirmed': 3, 'deceased': 0, 'recovered': 5}},
 'Tawang': {'notes': '',
  'active': 115,
  'confirmed': 2283,
  'migratedother': 0,
  'deceased': 17,
  'recovered': 2151,
  'delta': {'confirmed': 12, 'deceased': 0, 'recovered': 6}},
 'Tirap': {'notes': '',
  'active': 20,
  'confirmed': 1005,
  'migratedother': 0,
  'deceased': 3,
  'recovered': 982,
  'delta': {'confirmed': 2, 'deceased': 0, 'recovered': 6}},
 'Upper Dibang Valley': {'notes': '',
  'active': 26,
  'confirmed': 290,
  'migratedother': 0,
  'deceased': 2,
  'recovered': 262,
  'delta': {'confirmed': 3, 'deceased': 0, 'recovered': 1}},
 'Upper Siang': {'notes': '',
  'active': 76,
  'confirmed': 881,
  'migratedother': 0,
  'deceased': 1,
  'recovered': 804,
  'delta': {'confirmed': 1, 'deceased': 0, 'recovered': 0}},
 'Upper Subansiri': {'notes': '',
  'active': 80,
  'confirmed': 1903,
  'migratedother': 0,
  'deceased': 6,
  'recovered': 1817,
  'delta': {'confirmed': 6, 'deceased': 1, 'recovered': 1}},
 'West Kameng': {'notes': '',
  'active': 171,
  'confirmed': 3194,
  'migratedother': 0,
  'deceased': 13,
  'recovered': 3010,
  'delta': {'confirmed': 9, 'deceased': 0, 'recovered': 15}},
 'West Siang': {'notes': '',
  'active': 51,
  'confirmed': 1725,
  'migratedother': 0,
  'deceased': 5,
  'recovered': 1669,
  'delta': {'confirmed': 7, 'deceased': 0, 'recovered': 17}}}

In [44]:
# Q3. how many people were confrimed with COVID in Anjaw and Changlang?
## Hint: use dict_ap_district
dict_ap_district['Anjaw']['confirmed'] + dict_ap_district['Changlang']['confirmed']

4606

In [46]:
# for loop gives you all keys in dictionary
for i in dict_ap_district:
    print(i)

dict_ap_district.keys()

Anjaw
Changlang
East Kameng
East Siang
Kamle
Kra Daadi
Kurung Kumey
Lepa Rada
Lohit
Longding
Lower Dibang Valley
Lower Siang
Lower Subansiri
Namsai
Pakke Kessang
Papum Pare
Shi Yomi
Siang
Tawang
Tirap
Upper Dibang Valley
Upper Siang
Upper Subansiri
West Kameng
West Siang

dict_keys(['Anjaw', 'Changlang', 'East Kameng', 'East Siang', 'Kamle', 'Kra Daadi', 'Kurung Kumey', 'Lepa Rada', 'Lohit', 'Longding', 'Lower Dibang Valley', 'Lower Siang', 'Lower Subansiri', 'Namsai', 'Pakke Kessang', 'Papum Pare', 'Shi Yomi', 'Siang', 'Tawang', 'Tirap', 'Upper Dibang Valley', 'Upper Siang', 'Upper Subansiri', 'West Kameng', 'West Siang'])

In [49]:
# Q4. using for loop, print district name : number of confrimed
## example: Anjaw : 934, .... West Siang : xxx,
## HINT: from above, use keys and then print confriemd for each key
for i in dict_ap_district:
    number = str(dict_ap_district[i]['confirmed'])
    print(i+":"+ number)

Anjaw:985
Changlang:3621
East Kameng:1066
East Siang:2936
Kamle:460
Kra Daadi:256
Kurung Kumey:507
Lepa Rada:762
Lohit:2656
Longding:728
Lower Dibang Valley:2147
Lower Siang:703
Lower Subansiri:2610
Namsai:1958
Pakke Kessang:390
Papum Pare:17113
Shi Yomi:221
Siang:393
Tawang:2283
Tirap:1005
Upper Dibang Valley:290
Upper Siang:881
Upper Subansiri:1903
West Kameng:3194
West Siang:1725

In [50]:
# Q5. create user defined function to print out number of confirmed, recovered and etc (any relevant key) for each district
def num_district(x):
    for i in dict_ap_district:
        number = str(dict_ap_district[i][x])
        print(i+":"+number)

In [51]:
num_district("recovered")

Anjaw:934
Changlang:3530
East Kameng:1031
East Siang:2817
Kamle:400
Kra Daadi:249
Kurung Kumey:504
Lepa Rada:719
Lohit:2486
Longding:712
Lower Dibang Valley:2049
Lower Siang:645
Lower Subansiri:2266
Namsai:1895
Pakke Kessang:381
Papum Pare:16182
Shi Yomi:196
Siang:363
Tawang:2151
Tirap:982
Upper Dibang Valley:262
Upper Siang:804
Upper Subansiri:1817
West Kameng:3010
West Siang:1669

In [60]:
### Tutorial: from JSON to Dictionary to Pandas dataframe

#### district_name, num_confirmed, num_recovered
### dict: key -- (district_name, num_confirmed, num_recovered) This becomes column name
######### value -- ('Anjew','West Siang' --------- ) This becomes row values for each column
dict_pandas = {}
dist_names = []

# district name
for i in dict_ap_district:
    dist_names.append(i)
    
value_list_confirmed = []

# confirmed
for i in dict_ap_district:
    number = dict_ap_district[i]['confirmed']
    value_list_confirmed.append(number)
    
value_list_recovered = []

# recovered
for i in dict_ap_district:
    number = dict_ap_district[i]['recovered']
    value_list_recovered.append(number)

dict_pandas['district_name'] = dist_names
dict_pandas['num_confirmed'] = value_list_confirmed
dict_pandas['num_recovered'] = value_list_recovered

df = pd.DataFrame(dict_pandas)
df

          district_name  num_confirmed  num_recovered
0                 Anjaw            985            934
1             Changlang           3621           3530
2           East Kameng           1066           1031
3            East Siang           2936           2817
4                 Kamle            460            400
5             Kra Daadi            256            249
6          Kurung Kumey            507            504
7             Lepa Rada            762            719
8                 Lohit           2656           2486
9              Longding            728            712
10  Lower Dibang Valley           2147           2049
11          Lower Siang            703            645
12      Lower Subansiri           2610           2266
13               Namsai           1958           1895
14        Pakke Kessang            390            381
15           Papum Pare          17113          16182
16             Shi Yomi            221            196
17                Siang            393            363
18               Tawang           2283           2151
19                Tirap           1005            982
20  Upper Dibang Valley            290            262
21          Upper Siang            881            804
22      Upper Subansiri           1903           1817
23          West Kameng           3194           3010
24           West Siang           1725           1669

In [72]:
# Q6. calculate num of unrecovered from df and make a column called "num_unrecovered" to store that information
df['num_unrecovered']= df['num_confirmed'] - df['num_recovered']
df.to_csv('sample_data.csv', index = False)
df

          district_name  num_confirmed  num_recovered  num_unrecovered
0                 Anjaw            985            934               51
1             Changlang           3621           3530               91
2           East Kameng           1066           1031               35
3            East Siang           2936           2817              119
4                 Kamle            460            400               60
5             Kra Daadi            256            249                7
6          Kurung Kumey            507            504                3
7             Lepa Rada            762            719               43
8                 Lohit           2656           2486              170
9              Longding            728            712               16
10  Lower Dibang Valley           2147           2049               98
11          Lower Siang            703            645               58
12      Lower Subansiri           2610           2266              344
13               Namsai           1958           1895               63
14        Pakke Kessang            390            381                9
15           Papum Pare          17113          16182              931
16             Shi Yomi            221            196               25
17                Siang            393            363               30
18               Tawang           2283           2151              132
19                Tirap           1005            982               23
20  Upper Dibang Valley            290            262               28
21          Upper Siang            881            804               77
22      Upper Subansiri           1903           1817               86
23          West Kameng           3194           3010              184
24           West Siang           1725           1669               56

In [86]:
# Q7. create a user defined function to return dictionary that has top 3 district_name, num_unrecovered
sorted_df = df.sort_values(by='num_unrecovered', ascending = False)
top_three = sorted_df[0:3].reset_index(drop = True)
top_three

     district_name  num_confirmed  num_recovered  num_unrecovered
0       Papum Pare          17113          16182              931
1  Lower Subansiri           2610           2266              344
2      West Kameng           3194           3010              184

In [90]:
top_three.loc[0, 'district_name']

'Papum Pare'

In [80]:
{'Papum Pare':931, 'Lower Subansiri':344, 'West Kameng':184}

{'Papum Pare': 931, 'Lower Subansiri': 344, 'West Kameng': 184}

In [102]:
def top_3():
    sorted_df = df.sort_values(by='num_unrecovered', ascending = False)
    top_three = sorted_df[0:3].reset_index(drop = True)
#    top_3 = {}
    
#    first = top_three.loc[0, 'district_name']
#    top_3[first] = top_three.loc[0, 'num_unrecovered']
    
#    second = top_three.loc[1, 'district_name']
#    top_3[second] = top_three.loc[1, 'num_unrecovered']
    
#    third = top_three.loc[2, 'district_name']
#    top_3[third] = top_three.loc[2, 'num_unrecovered']
    
#    return top_3
    return {top_three.loc[0, 'district_name']:top_three.loc[0, 'num_unrecovered'],
            top_three.loc[1, 'district_name']:top_three.loc[1, 'num_unrecovered'],
            top_three.loc[2, 'district_name']:top_three.loc[2, 'num_unrecovered']
           }

In [103]:
top_3()

{'Papum Pare': 931, 'Lower Subansiri': 344, 'West Kameng': 184}