## recap

* Data structure
1) List/Array
1. Ordered
2. Mutable (can be modified or add/delete item value)
3. values are stored in sequence (e.g. [])
   
2) Tuples
1. Ordered
2. Immutable (can't be modified and cannot add/delete item value)
3. values are stored in ()

3) Dictionary
1. Unordered
2. Mutable (can be modified or add/delete item value)
3. key:value pairs are stored in {key:value}
   
4) Set
1. Unordered
2. Mutable (can be modified or add/delete item value)
3. Can't contain duplicated values
4. valus are stored in {}

In [29]:
# 1. List/Array
students = ['Andy', 'Moe', 'Lily', 'Lily', 'John']
students

['Andy', 'Moe', 'Lily', 'Lily', 'John']

In [31]:
## accessing items in the list
# print first element of students
print(students[0])

# print second to fourth element of students
print(students[1:4])

Andy
['Moe', 'Lily', 'Lily']

In [32]:
## adding items to the list -- append your name
students.append("Joanne")

In [33]:
## now remove your name from the list
students.pop(-1)

'Joanne'

In [34]:
## replacing items in the list
# replace 2nd value with Julia
students[1]= "Julia"
students

['Andy', 'Julia', 'Lily', 'Lily', 'John']

In [35]:
## sorting items in the list (ascending order)
students.sort()
print(students)

## sorting items in the list (descending order)
students.sort(reverse = True)
print(students)

## below statement sort items in the list and then show output
sorted(students)

['Andy', 'John', 'Julia', 'Lily', 'Lily']
['Lily', 'Lily', 'Julia', 'John', 'Andy']

['Andy', 'John', 'Julia', 'Lily', 'Lily']

In [37]:
## delete the list entirely
del students

In [113]:
## BONUS: difference b/w list and array (array can perform arithmatic operation while list cannot)
import numpy as np
test_list = [1,2,3]
test_array = np.array(test_list)

# we can also concetenate list this way
print(test_list + [5])
### however, as you can see, it is not arithmatically added -- it is "appended"

# array, on the other hands, can add the list of values arithmatically!
print(test_array + 5)

[1, 2, 3, 5]
[6 7 8]

In [38]:
# 2. Tuples
codes = (5001, 5001, 5003, 5005)
codes

(5001, 5001, 5003, 5005)

In [41]:
## accessing items in the tuple
# print first element of codes
print(codes[0])

# print 2nd to 3rd element of codes
print(codes[1:3])

5001
(5001, 5003)

In [43]:
## sort values in the tuple
sorted(codes)

[5001, 5001, 5003, 5005]

In [47]:
## tuple assignment
# Can assign multiple items/values to variables at once using tuple
#a = 1
#b = 2
#c = 3

## (56,555543, -54.65645656)
a, b, c = (1,2,3)

In [48]:
## concetenation
# even if we cannot modify an existing tuple, we can concetenate two tuples
test1 = (1,2,3)
test2 = test1 + (50,60,70)
print(test2)

(1, 2, 3, 50, 60, 70)

In [50]:
# 3. dictionaries
school = {"studentID":1, "name": 'Andy'}
school

{'studentID': 1, 'name': 'Andy'}

In [52]:
## accessing values by using key (studedID)
school['studentID']

1

In [54]:
## view keys
print(school.keys())

## view values
print(school.values())

dict_keys(['studentID', 'name'])
dict_values([1, 'Andy'])

In [56]:
## adding key:value pair
# key = grade, value = 98
school['grade']=98
school

{'studentID': 1, 'name': 'Andy', 'grade': 98}

In [58]:
## deleting key:value pair
# grade / 98
school.pop('grade')

98

In [72]:
## store key:value pair in the list
school2 = {"studentID":[1,2,3,4,5], "name":["Andy","Julia", "Sally","Mike","John"]} #, "name":[]}
school2

{'studentID': [1, 2, 3, 4, 5],
 'name': ['Andy', 'Julia', 'Sally', 'Mike', 'John']}

In [65]:
## adding key:value pair in the list
## key =  grade, value = ?
school2['grade']=[24,35,46,57,68]

In [66]:
school2

{'studentID': [1, 2, 3, 4, 5],
 'name': ['Andy', 'Julia', 'Sally', 'Mike', 'John'],
 'grade': [24, 35, 46, 57, 68]}

In [67]:
## BONUS: convert to dataframe
import pandas as pd
pd.DataFrame(school2)

## what can we learn?
### dataframe is nothing but application of dictionary! (column name - key, column values - list of values in key)

   studentID   name  grade
0          1   Andy     24
1          2  Julia     35
2          3  Sally     46
3          4   Mike     57
4          5   John     68

In [94]:
# 4. set
names = {"Andy","Andy","Jane","Julia"}
names

{'Andy', 'Jane', 'Julia'}

In [95]:
## adding item to the set
names.add('Gita')
names

{'Andy', 'Gita', 'Jane', 'Julia'}

In [96]:
## adding item(s) to the set
names.update(['Abc','Tey'])
names

{'Abc', 'Andy', 'Gita', 'Jane', 'Julia', 'Tey'}

In [97]:
## removing item from the set
names.remove('Abc')
names

{'Andy', 'Gita', 'Jane', 'Julia', 'Tey'}

In [90]:
## math operation on sets
names2 = {"Andy", "Gita", "John"}

In [91]:
## intersection bw names and names2
names.intersection(names2)

{'Andy', 'Gita'}

In [92]:
## union b/w names and names2
names.union(names2)

{'Andy', 'Gita', 'Jane', 'John', 'Julia', 'Tey'}

In [98]:
## check if names is subset of names2
names.issubset(names2)

False

In [99]:
## check if names2 is subset of names
names2.issubset(names)

False

In [102]:
names3 = {"Andy","Gita","Tey"}
## check if names3 is subset of names
names3.issubset(names)

True

In [103]:
## check if names is subset of names3
names.issubset(names3)

False

In [ ]:
## Bonus - superset??

In [104]:
## Check difference between name and names2
print(names)
print(names2)

{'Julia', 'Jane', 'Andy', 'Tey', 'Gita'}
{'John', 'Andy', 'Gita'}

In [105]:
names.difference(names2)

{'Jane', 'Julia', 'Tey'}

In [106]:
## Check difference between names2 and names
names2.difference(names)

{'John'}